<!DOCTYPE html>
<html>
<head>
  <title>A La Mousse</title>
  <%= favicon_link_tag "icon.ico" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68217525-1', 'auto');
  ga('send', 'pageview');
// NOTES
// FACEBOOK LIKE BUTTON
// THREE DOTS IN SLIDESHOW AND CAPTIONS FORWARDS AND BACK BUTTON
// SEO KEYWORDS INPUT
// FORM FOR CONTACT via facebook


</script>
</head>
<body>
  <div class="navbar-fixed">
  	<nav class="transparent z-depth-0" role="navigation">
  		<div class="nav-wrapper container">
  		  <a id="logo-container" href="#" class="home-nav hide-on-med-and-down"><img class="logo" src="logo.png" alt=""></a>
  		  <ul class="right hide-on-med-and-down">
  		    <li><a href="<%= root_path %>#about" class="nav-elements about-nav vanilla-text">About</a></li>
          <li><a href="<%= root_path %>#menu" class="nav-elements menu-nav vanilla-text">Menu</a></li>
          <li><a href="<%= root_path %>#contact" class="nav-elements contact-nav vanilla-text">Contact</a></li>
  		  </ul>

  		  <ul id="nav-mobile" class="side-nav">
          <li><a href="#" class="home-nav"><h3>Home</h3></a></li>
          <li><a href="<%= root_path %>#about" class="about-nav"><h3>About</h3></a></li>
  		    <li><a href="<%= root_path %>#menu" class="menu-nav"><h3>Menu</h3></a></li>
          <li><a href="<%= root_path %>#contact" class="contact-nav"><h3>Contact</h3></a></li>
  		  </ul>
  		  <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="vanilla-text material-icons">menu</i></a>
  		</div>
  	</nav>
  </div>

<!-- HOME -->
	<div id="index-banner" class="gray-foreground parallax-container">
		<div class="section no-pad-bot">
			<div class="intro container">

				<h1 class="header center outline-text white-text">A La Mousse</h1>
        <br>

			</div>
		</div>
		<div class="parallax"><img id="parallax-image" src="/mousse.jpeg" alt="Unsplashed background img 1"></div>
	</div>

<!-- ABOUT -->
<span id="about"></span>
	<div class="container">
    <div class="section">
      <div class="row">
        <h1 class="header center">About</h1>
      </div>
      <div class="container">
        <div class="row center">
          <h4 class="header col s12 light">A dessert place in Philly like no other! Home to a large selection of delicious desserts made with healthy and natural ingredients!</h4>
        </div>
      </div>
      <div class="row">
        <div class="card col s12 m6">
           <div class="card-image waves-effect waves-block waves-light">
             <img class="activator" src="mousse10.jpeg">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4">Who We Are<i class="material-icons right">more_vert</i></span>
           </div>
           <div class="card-reveal">
             <span class="card-title grey-text text-darken-4">Who We Are<i class="material-icons right">close</i></span>
             <h5>At A La Mousse, traditional confections are re-imagined and spiked with a novel Asian flare. We look forward to feeding you at your next gathering.</h5>
           </div>
        </div>

        <div class="card col s12 m6">
           <div class="card-image waves-effect waves-block waves-light">
             <img class="activator" src="mousse11.jpeg">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4">Our Ingredients<i class="material-icons right">more_vert</i></span>
           </div>
           <div class="card-reveal">
             <span class="card-title grey-text text-darken-4">Our Ingredients<i class="material-icons right">close</i></span>
             <h5>A dessert place like no other, home to a large selection of tasty flavors, made with healthy and natural ingredients like <span class="matcha-text">Matcha, green tea</span>.</h5>
           </div>
        </div>
      </div>
    </div>
  </div>

<!-- PHOTO SLIDER -->
  <div class="slider hide-on-small-only">
    <ul class="slides gray-foreground">
      <li>
        <img src="/mousse1.jpeg" class="slider-img">
        <!-- <div class="caption center-align">
          <h3 class="outline-text white-text">Bahn Mi Up Scotty!</h3>
          <h5 class="light white-text outline-text text-lighten-3">I need pictures shot horizontally</h5>
        </div> -->
      </li>
      <li>
        <img src="/mousse6.jpeg" class="slider-img">
        <!-- <div class="caption left-align">
          <h3 class="outline-text white-text">Bahn Mi Bahn Mi Baby</h3>
          <h5 class="light white-text outline-text text-lighten-3">iPhone 6 camera is perfectly acceptable for our current browsers</h5>
        </div> -->
      </li>
      <li>
        <img src="/mousse4.jpeg" class="slider-img">
        <!-- <div class="caption right-align">
          <h3 class="white-text outline-text">HD pictures please</h3>
          <h5 class="light white-text outline-text text-lighten-3">Give me the Highest Def you can.</h5>
        </div> -->
      </li>
    </ul>
  </div>
<div class="break"></div>
<!-- MENU -->
<span id="menu"></span>
  <div class="container">
    <div class="section">
      <h1 class="header center">Menu</h1>
      <ul class="collapsible popout" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="fa fa-coffee"></i>Coffee<i class="material-icons right">more_vert</i></div>
          <div class="collapsible-body">
            <table class="container">
              <thead>
                <tr>
                    <th>Hot Coffee</th>
                    <th></th>
                    <th>Cold Coffee</th>
                    <th></th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Drip Coffee</td>
                  <td>2.25</td>
                  <td>Iced Coffee</td>
                  <td>2.75</td>
                </tr>
                <tr>
                  <td>Single Shot Espresso</td>
                  <td>2.25</td>
                  <td>Iced Caramel Macchiato</td>
                  <td>4.25</td>
                </tr>
                <tr>
                  <td>Double Shot Espresso</td>
                  <td>3.00</td>
                  <td>Iced Caffe Latte</td>
                  <td>4.25</td>
                </tr>
                <tr>
                  <td>Caramel Espresso Macchiato</td>
                  <td>4.00</td>
                  <td>Iced Vanilla Latte</td>
                  <td>4.25</td>
                </tr>
                <tr>
                  <td>Espresso Latte</td>
                  <td>4.00</td>
                  <td>Iced White Chocolate Vanilla Latte</td>
                  <td>4.50</td>
                </tr>
                <tr>
                  <td>Vanilla Latte</td>
                  <td>4.00</td>
                  <td>Iced Tres Leches Latte</td>
                  <td>4.50</td>
                </tr>
                <tr>
                  <td>White Chocolate Vanilla Latte</td>
                  <td>4.25</td>
                  <td>Iced Pistachio Latte</td>
                  <td>4.50</td>
                </tr>
                <tr>
                  <td>Pistachio</td>
                  <td>4.25</td>
                  <td>Iced Mocha Latte</td>
                  <td>3.75</td>
                </tr>
                <tr>
                  <td>Hazelnut Latte</td>
                  <td>4.00</td>
                  <td>Iced Americano</td>
                  <td>4.25</td>
                </tr>
                <tr>
                  <td>Cafe Mocha</td>
                  <td>4.00</td>
                  <td>Affogato</td>
                  <td>4.50</td>
                </tr>
                <tr>
                  <td>Cappucino</td>
                  <td>4.00</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Americano</td>
                  <td>3.50</td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fa fa-coffee"></i>Tea<i class="material-icons right">more_vert</i></div>
          <div class="collapsible-body">
            <table class="container">
              <thead>
                <tr>
                    <th>Fruit Tea</th>
                    <th></th>
                    <th>Foamy Milk Tea</th>
                    <th></th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Lemonade Mint Tea</td>
                  <td>3.25</td>
                  <td>Bubble Milk Foam Black Tea</td>
                  <td>3.50</td>
                </tr>
                <tr>
                  <td>Pomegranate Strawberry Lemonade</td>
                  <td>3.25</td>
                  <td>Bubble Milk Foam Green Tea</td>
                  <td>3.50</td>
                </tr>
                <tr>
                  <td>Mango Fruit Tea</td>
                  <td>3.25</td>
                  <td>Oolong Tea</td>
                  <td>3.50</td>
                </tr>
                <tr>
                  <td>Peach Guava Fruit Tea</td>
                  <td>3.25</td>
                  <td>Bubble Milk Foam Rose Black Tea</td>
                  <td>3.75</td>
                </tr>
                <tr>
                  <td>Green Apple Strawberry Fruit Tea</td>
                  <td>3.25</td>
                  <td>Bubble Milk Foam Matcha Tea</td>
                  <td>3.75</td>
                </tr>
                <tr>
                  <td>Raspberry Pear Fruit Tea</td>
                  <td>3.25</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Lychee Pineapple Fruit Tea</td>
                  <td>3.25</td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>

            <table class="container">
              <thead>
                <tr>
                    <th>Matcha</th>
                    <th></th>
                    <th>Smoothies</th>
                    <th></th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Green Foam Matcha Tea</td>
                  <td>3.25</td>
                  <td>Passion Island (avocado & berries)</td>
                  <td>4.00</td>
                </tr>
                <tr>
                  <td>Matcha Latte</td>
                  <td>3.50</td>
                  <td>Mint Sizzle (avocado, pear & mint)</td>
                  <td>4.00</td>
                </tr>
                <tr>
                  <td>Iced Matcha Coconut Latte</td>
                  <td>3.75</td>
                  <td>Tropical Blend (lychee, kiwi & berries)</td>
                  <td>4.00</td>
                </tr>
                <tr>
                  <td>Iced Matcha Chocolate Latte</td>
                  <td>3.75</td>
                  <td>Red Twister (apple, lychee & berries)</td>
                  <td>4.00</td>
                </tr>
                <tr>
                  <td>Iced Matcha Latte</td>
                  <td>3.75</td>
                  <td>Tango Orange (tango, orange & banana)</td>
                  <td>4.00</td>
                </tr>
                <tr>
                  <td>Matcha Frappe</td>
                  <td>4.00</td>
                  <td>Crunch Sweet (pineapple, banana & berries)</td>
                  <td>4.00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fa fa-cutlery"></i>Desserts<i class="material-icons right">more_vert</i></div>
          <div class="collapsible-body">
            <div class="container">
              <div class="row">
                <div class="section">
                  <h5 class="center">7.95</h5>
                </div>
                <div class="divider"></div>
                <div class="section">
                  <h5>The Harvest</h5>
                  <p>Layers of berries, soft cream cheese and yogurt topped with oreo crumbs
                  served with a delectable raspberry sorbet.</p>
                </div>
                <div class="divider"></div>
                <div class="section">
                  <h5>Green Forest</h5>
                  <p>Pistachio and apricot crumb covered chocolate mousse
                  served with creamy pistachio ice-cream.</p>
                </div>
                <div class="divider"></div>
                <div class="section">
                  <h5>Chocolate Mousse Cake</h5>
                  <p>Layers of flourless dark chocolate cake, milk chocolate and
                  light white chocolate mousse served wtih mango ice cream.</p>
                </div>
                <div class="divider"></div>
                <div class="section">
                  <h5>Matcha Mousse Cake</h5>
                  <p>Matcha mousse cake served with matcha ice cream and vanilla crunches.</p>
                </div>
                <div class="divider"></div>
                <div class="section">
                  <h5>Lychee Panna Cotta</h5>
                  <p>Lychee panna cotta with raspberry sauce served with raspberry truffle ice cream.</p>
                </div>
                <div class="divider"></div>
                <div class="section">
                  <h5>Tofu Kasuteri Cheesecake</h5>
                  <p>Tofu cheesecake, chocolate ganache served with fresh strawberries and chocolate pearls.</p>
                </div>
                <div class="divider"></div>
                <div class="section">
                  <h5>Green Tea-r-amisu</h5>
                  <p>Layers of green tea mascarpone cream and green tea sponge cake.</p>
                </div>
                <div class="divider"></div>
                <div class="section">
                  <h5>Sizzling Ice Cream</h5>
                  <p>Matcha brownie with a scoop of ice cream on the top served with matcha sauce.</p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="center">
      <div class="row">
        <img class="materialboxed col s12 m6" width="400" src="mousse8.jpeg">
        <img class="materialboxed col s12 m6" width="400" src="mousse12.jpeg">
      </div>
    </div>
  </div>
<!-- CONTACT -->
<span id="contact"></span>
  <div class="container">
    <div class="section">
      <div class="row">
        <h1 class="header center">Contact A La Mousse</h1>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <table>
            <tbody>
              <tr>
<br>
                <td><h5>Phone:</h5></td>
                <td><a href="tel:+1-215-258-9100"><h5>(215) 258-9100</h5></a></td>
              </tr>
              <tr>
                <td><h5>Email:</h5></td>
                <td><a href="mailto:ALaMoussePhilly@gmail.com?Subject=Hello" target="_top"><h5>ALaMoussePhilly<br>@gmail.com</h5></a></h5></td>
              </tr>
              <tr>
                <td><h5>Mon-Thu:</h5></td>
                <td><h5>11:00am-11:00pm</h5></td>
              </tr>
              <tr>
                <td><h5>Fri-Sat:</h5></td>
                <td><h5>11:00am-12:00am</h5></td>
              </tr>
              <tr>
                <td><h5>Sun:</h5></td>
                <td><h5>11:00am-10:00pm</h5></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col s12 m6">
          <h5 class="center">Our Location</h5>
          <iframe id="gmap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3058.379651197924!2d-75.15951404949448!3d39.95526377932041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6c62a51ef334b%3A0xefc2b5ac87a9cb36!2s145+N+11th+St%2C+Philadelphia%2C+PA+19107!5e0!3m2!1sen!2sus!4v1457927730575" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>


<%= yield %>

  <footer class="page-footer brown">
    <div class="container">
      <div class="row">
        <div class=" col s-12">
          <h5 class="white-text">
            <a href="https://www.facebook.com/alamoussecafe/?fref=ts" target="_blank"><i class="smedia fa fa-facebook-official fa-2x"></i></a>
            <a href="https://www.instagram.com/alamousse/" target="_blank"><i class="smedia fa fa-instagram fa-2x"></i></a>
            <a href="http://www.yelp.com/biz/a-la-mousse-philadelphia" target="_blank"><i class="smedia fa fa-yelp fa-2x"></i></a>
          </h5>
        </div>
      </div>
    </div>
    <div class="footer-copyright brown">
      <div class="container">
        <span class="right copy">© 2016 A La Mousse</span>
      </div>
    </div>
  </footer>

</body>
</html>
